<!DOCTYPE html>
<html>

  <body>

    <h1>Upload a photo!</h1>

    <form action="/show" method="post" enctype="multipart/form-data">
        Title:<input type="text" name="title"><br>
        Description:<input type="text" name="description"><br>
        Photo:<input type="file" name="fileupload"><br>
        <input type="submit" value="Upload">
    </form>
    
  </body>
</html>

